/*COLORS*/
$primary-orange: #ff7d1a;
$primary-pale-orange: #ffede0;

$very-dark-blue: #1d2025;
$dark-grayish-blue: #68707d;
$grayish-blue: #b6bcc8;
$light-grayish-blue: #f7f8fd;
$white: #ffffff;
$black: #000000;
$light-box: #000000bd;

/*FONT*/
$font-s: 16px;
$main-font: "Kumbh Sans", sans-serif;
$font-regular: 400;
$font-bold: 700;

/*SPACING*/
$space-lg: 24px;
$space-m: 16px;
$space-s: 8px;

/*MEDIA QUERiES*/
$media-mobile-s: 320px;
$media-mobile-l: 400px;
$media-tablet-s: 550px;
$media-tablet-l: 750px;
$media-desktop-l: 1000px;

$breakpoint-desktop: 1000px;
$breakpoint-tablet: 600px;

/*BORDER*/
$border-radius: 8px;

/*SHADOW*/
$button-shadow: 2px 6px 20px $primary-orange;
$box-shadow: 2px 6px 30px $dark-grayish-blue;
