$primary-orange: #ff7d1a;
$primary-pale-orange: #ffede0;

$very-dark-blue: #1d2025;
$dark-grayish-blue: #68707d;
$grayish-blue: #b6bcc8;
$light-grayish-blue: #f7f8fd;
$white: #ffffff;
$black: #000000;
$light-box: #000000bd;

/*FONT SIZES*/
$font-s: 16px;

$main-font: "Kumbh Sans", sans-serif;

$font-regular: 400;
$font-bold: 700;
