@import "../helpers/variables";
.lightbox-container {
  height: 600px;
  width: 600px;
  position: fixed;
  z-index: 200;
  border-radius: $border-radius;
  //   border: 1px solid #eee;
  //   box-shadow: 0 2px 2px #ccc;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 20%;
  left: 35%;
  transition: all 0.3s ease-out;
  .lightbox-img {
    width: 100%;
    height: 100%;
  }
}
