@import "../helpers/variables";
.thumbnails-container {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  display: none;
}

@media screen and (min-width: 1000px) {
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    .thumbnail {
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      height: 4rem;
      border-radius: $border-radius;
      img {
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
      }
    }
    .thumbnail:hover,
    .thumbnail.selected {
      border: 2px solid $primary-orange;
      outline: none;
      opacity: 0.4;
      // transform: translateY(-8%);
    }
  }
}
