@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "./base/base";
@import "./helpers/variables";
@import "./base/reset";

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
main {
  margin-top: 2.5rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 350px 400px;
    gap: 6rem;
  }
  .product-images {
    padding: 3rem 0;
  }
}
