@import "../helpers/variables";
@import "../base/reset";

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // padding: 1rem 0;
  border-bottom: 2px solid $light-grayish-blue;
  .btn-cart {
    position: relative;
    span {
      position: absolute;
      width: 1.5rem;
      height: 1rem;
      left: 1.5rem;
      color: $white;
      font-weight: $font-bold;
      font-family: $main-font;
      border-radius: $border-radius;
      background-color: $primary-orange;
    }
  }
  .btn-avatar {
    margin-left: 0.6rem;
    width: 2em;
    height: 1.8rem;
    border: 2px solid $primary-orange;
    border-radius: 50%;
  }
  .avatar {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  img {
    padding: 0.5rem;
  }
}
