@import "../helpers/variables";

.topnav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
.topnav__list {
  width: 70%;
  display: none;
  //   display: flex;
  //   gap: 2rem;
  font-family: $main-font;
  font-size: $font-s - 3px;
  & a {
    position: relative;

    // padding: 1.4rem 0;
  }
  & a::after {
    content: "";
    border-bottom: 2px solid $primary-orange;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0.1rem;
    top: 1.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  & a:hover::after {
    opacity: 1;
    width: 100%;
  }
  & a:hover {
    color: $dark-grayish-blue;
  }
  /*Highlight the active link*/
  & a.active {
    color: $dark-grayish-blue;
  }
}

@media screen and (min-width: 1000px) {
  .topnav__list {
    display: flex;
    gap: 2rem;
  }
  .btn-menu {
    display: none;
  }
}
